<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.xmethod.xycode">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".debugHelper.crashUtil.CrashActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".debugHelper.debug.DebugActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/ServerControllerTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name="xyz.xmethod.xycode.utils.downloadHelper.CompulsiveHelperActivity"
            android:theme="@style/UpdateDialogTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".serverApiHelper.ServerControllerActivity"
            android:theme="@style/ServerControllerTheme"
            android:screenOrientation="nosensor" />
    </application>

</manifest>
