<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.xmethod.xycode">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--安装未知来源权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="@string/xy_app_name"
        android:supportsRtl="true">

        <!--FileProvider的注册 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.android7.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".debugHelper.crashUtil.CrashActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".debugHelper.debug.DebugActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/ServerControllerTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name="xyz.xmethod.xycode.utils.downloadHelper.CompulsiveHelperActivity"
            android:theme="@style/UpdateDialogTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".serverApiHelper.ServerControllerActivity"
            android:theme="@style/ServerControllerTheme"
            android:screenOrientation="nosensor" />
    </application>

</manifest>
